/*início da seção contato*/

.contact-container {
    background-color: #4ECDC4;
    color: #262626;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-content: center;
    align-items: center;
    padding: 20px;   
        
}

.content{
    display:flex;
    align-content: right; 
    align-items: right;    
    flex-wrap: wrap;
    padding: 20px 20px 20px;
    
}

.lado-esquerdo{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-right:10px;
    position: relative;
    padding:20px 20px;
    
}

.contact-title {
    font-size: 34px;
    padding: 10px;
    
}

.contact_image {
    width: 50%;
    height: 50%;
    padding: 5px 5px 5px;
    border-radius: 10px;  
      
}

.contact-info{
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px;
    font-size: 20px;
    margin-left: 30%;
}

.contact-form{
    width: 75%;
    margin-left: 15px;
    display: inline-block;
    align-items: center;
    

}


.contact-input-padrao {
    outline: none;
    width: 100%;
    height: 100%;
    border:none;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    background: #f4f4f4;
}

.field-area {
    height: 100px;
    margin-bottom: 3px;
}

.contact-btn-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.contact-btn {
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    background-color: #F1C15D;
    padding: 8px 20px;
    margin-right: 10px;
    font-weight: 900;
    transition: ease-in 1s;
}

.contact-btn:hover {
    background-color: #FFF;
}

/*fim da seção contato*/